%h1.ui.header Listing recipes

%table
  %thead
    %tr
      %th Title
      %th Work duration
      %th Cooking duration
      %th Difficulty
      %th Instructions
      %th
      %th
      %th

  %tbody
    - @recipes.each do |recipe|
      %tr
        %td= recipe.title
        %td= recipe.work_duration
        %td= recipe.cooking_duration
        %td= recipe.difficulty
        %td= recipe.instructions
        %td= link_to 'Show', recipe
        %td= link_to 'Edit', edit_recipe_path(recipe)
        %td= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Recipe', new_recipe_path
